.aboutContainer {
  height: 100vh;
  margin-bottom: 20px;
}
.aboutContainer h2 {
  color: var(--primary);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-left: 30px;
  height: 150px;
  display: flex;
  align-items: center;
}
.aboutContainer p {
  color: var(--primary);
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  padding: 0 20px 0 20px;
  
}
.aboutContainer span {
  color: var(--secondary);
}
.aboutContainer ul {
  width: 100%;
  list-style-type: none;
  font-size: 60px;
  color: var(--secondary);
  display: flex;
  justify-content: space-around;
  height: 200px;
  align-items: center;
}
