.aboutContainer {
  height: 100vh;
  margin-bottom: 20px;
}
.aboutContainer h2 {
  color: var(--primary);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-left: 30px;
  height: 150px;
  display: flex;
  align-items: center;
}
.aboutContainer p {
  color: var(--primary);
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  padding: 0 20px 0 20px;
}
.aboutContainer span {
  color: var(--secondary);
}
.aboutContainer ul {
  width: 100%;
  list-style-type: none;
  font-size: 60px;
  color: var(--secondary);
  display: flex;
  justify-content: space-around;
  height: 200px;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .aboutContainer {
    height: 120vh;
  }
  .aboutContainer h2 {
    font-size: 1rem;
  }
  .aboutContainer p {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .aboutContainer ul {
    font-size: 30px;
    height: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .aboutContainer {
    height: 130vh;
  }
  .aboutContainer p {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  .aboutContainer ul {
    font-size: 40px;
    height: 100px;
  }
}
@media screen and (min-width: 1024px) and (max-height: 800px) {
  .aboutContainer p {
    font-size: 4rem;
  }
}
