.allProjectsContainer {
  min-height: 100vh;
}

.allProjectsContainer h2 {
  color: var(--primary);
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-left: 30px;
  font-weight: 900;
  height: 150px;
  display: flex;
  align-items: center;
}
.loading {
  color: var(--secondary);
  font-size: 2rem;
}
.noProjects {
  color: var(--secondary);
  font-size: 2rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .allProjectsContainer h2 {
    font-size: 1rem;
    margin-top: 150px;
  }
}