.contactContainer {
  height: auto;
  width: 100%;
}
.contactContainer h2 {
  color: var(--primary);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-left: 30px;
  height: 150px;
  display: flex;
  align-items: center;
}
.contactContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.contactContent p {
  color: var(--primary);
  width: 70%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 2px;
  padding: 50px;
}
.contactInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  border: 2px solid var(--primary);
  padding: 50px;
  position: relative;
}
.contactInput label {
  color: var(--primary);
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 10px;
  font-weight: 700;
  letter-spacing: 1px;
}
.contactInput input {
  width: 60%;
  height: 35px;
  margin-bottom: 30px;
  outline-color: var(--secondary);
}
.contactInput textarea {
  width: 60%;
  height: 120px;
  margin-bottom: 30px;
  outline-color: var(--secondary);
  resize: none;
}
.contactInput button {
  background: var(--secondary);
  width: 90px;
  height: 40px;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
.contactInput button:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
.rgpdContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
}
.rgpdContainer .checkbox {
  width: 20px;
  transform: translateY(100%);
  padding: 5px;
  accent-color: var(--secondary);
}
.rgpdContainer .rgpdText {
  width: auto;
  padding: 0;
  margin-left: 10px;
  font-size: 0.9rem;
}
.rgpdContainer a {
  color: var(--secondary);
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .contactContainer {
    height: auto;
    margin-bottom: 100px;
  }
  .contactContainer h2 {
    font-size: 1rem;
  }
  .contactContent p {
    width: 100%;
    font-size: 0.9rem;
    line-height: 20px;
    padding: 20px;
  }
  .contactInput {
    width: 90%;
    padding: 10px;
  }
  .contactInput label {
    font-size: 0.9rem;
  }
  .contactInput input {
    width: 100%;
  }
  .contactInput textarea {
    width: 100%;
  }
  .contactInput button {
    width: 80px;
    height: 30px;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .contactContainer {
    height: auto;
    margin-bottom: 100px;
  }
  .contactContainer h2 {
    font-size: 1.5rem;
  }
  .contactContent p {
    width: 100%;
    font-size: 1.2rem;
    line-height: 20px;
    padding: 20px;
  }
  .contactInput {
    width: 90%;
    padding: 10px;
  }
  .contactInput label {
    font-size: 0.9rem;
  }
  .contactInput input {
    width: 100%;
  }
  .contactInput textarea {
    width: 100%;
  }
  .contactInput button {
    width: 80px;
    height: 30px;
    font-size: 0.9rem;
  }
}
