.contactContainer {
  height: 100vh;
  margin-bottom: 20px;
}

.contactContainer h2 {
  color: var(--primary);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-left: 30px;
  height: 150px;
  display: flex;
  align-items: center;
}
.contactContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactContainer p {
  color: var(--primary);
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  padding: 0 20px 0 20px;
  width: 50%;
  line-height: 50px;
  border: 2px solid var(--primary);
  padding: 20px;
}
.contactContainer p a {
  color: var(--secondary);
}
