.displayProjectDetailContainer {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary);
  margin: 30px;
  margin-bottom: 150px;
}
.linkSiteWeb {
  color: var(--secondary);
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 20px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title h1 {
  color: var(--primary);
  font-size: 3rem;
  text-transform: uppercase;
}
.title p {
  color: var(--primary);
  font-size: 1.5rem;
}
.descriptionContainer {
  font-size: 1.4rem;
  color: var(--primary);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  font-weight: 600;
  line-height: 40px;
}
.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgContainer {
  width: 90%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.imgContainer img {
  width: 900px;
  height: auto;
  border: 2px solid var(--primary);
}
.logo {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-around;
  height: 300px;
}
.logo > * {
  flex: 1 1 90px;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .linkSiteWeb {
    font-size: 0.8rem;
  }
  .title h1 {
    font-size: 1rem;
    margin-top: 10px;
  }
  .displayProjectDetailContainer .title p {
    font-size: 0.5rem;
  }
  .descriptionContainer {
    font-size: 0.8rem;
    line-height: 20px;
    height: auto;
  }
  .link {
    height: auto;
  }
  .imgContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
  .imgContainer img {
    width: 225px;
  }
  .logo {
    width: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .linkSiteWeb {
    font-size: 1rem;
  }
  .title h1 {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  .displayProjectDetailContainer .title p {
    font-size: 1rem;
  }
  .descriptionContainer {
    font-size: 1rem;
    line-height: 30px;
    height: auto;
  }
  .link {
    height: auto;
  }
  .imgContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }
  .imgContainer img {
    width: 450px;
  }
  .logo {
    width: 200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}
