.displayProjectDetailContainer {
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary);
  margin: 30px;
  margin-bottom: 150px;
}
.linkSiteWeb {
  color: var(--secondary);
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 20px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title h1 {
  color: var(--primary);
  font-size: 3rem;
  text-transform: uppercase;
}
.title p {
  color: var(--primary);
  font-size: 1.5rem;
}
.descriptionContainer {
  font-size: 1.4rem;
  color: var(--primary);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
  font-weight: 600;
  line-height: 40px;
}
.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgContainer {
  width: 90%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.imgContainer img {
  width: 900px;
  height: auto;
  border: 2px solid var(--primary);
}
.logo {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-around;
  height: 300px;
}
.logo > * {
  flex: 1 1 90px;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .displayProjectDetailContainer {
    height: 350vh;
  }
  .linkSiteWeb {
    font-size: 0.8rem;
  }
  .title h1 {
    font-size: 1rem;
  }
  .title p {
    margin-bottom: 350px;
  }
  .displayProjectDetailContainer .title p {
    font-size: 0.5rem;
  }
  .descriptionContainer {
    font-size: 0.8rem;
    line-height: 20px;
    min-height: 800px;
    margin-bottom: 250px;
  }
  .link {
    height: 300px;
  }
  .imgContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
  }
  .imgContainer img {
    width: 200px;
  }
  .logo {
    width: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 375px) and (max-width: 480px) {
  .displayProjectDetailContainer {
    height: 250vh;
  }
  .linkSiteWeb {
    font-size: 0.8rem;
  }
  .title h1 {
    font-size: 1rem;
  }
  .title p {
    margin-bottom: 150px;
  }
  .displayProjectDetailContainer .title p {
    font-size: 0.5rem;
  }
  .descriptionContainer {
    font-size: 0.8rem;
    line-height: 20px;
    min-height: 800px;
    margin-bottom: 100px;
  }
  .link {
    height: 300px;
  }
  .imgContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
  }
  .imgContainer img {
    width: 200px;
  }
  .logo {
    width: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 568px) and (max-height: 481px) {
  .displayProjectDetailContainer {
    min-height: 380vh;
    margin-top: 100px;
  }
  .descriptionContainer {
    font-size: 0.8rem;
    line-height: 20px;
  }
  .title h1 {
    margin-top: 20px;
  }
  .imgContainer img {
    margin-bottom: 20px;
    width: 500px;
  }
}
@media screen and (min-width: 800px) and (max-height: 800px) {
  .displayProjectDetailContainer {
    min-height: 320vh;
  }
  .descriptionContainer {
    font-size: 0.8rem;
    line-height: 20px;
  }
  .title h1 {
    margin-top: 20px;
  }
  .imgContainer img {
    margin-bottom: 20px;
    width: 500px;
  }
}
@media screen and (min-width: 1366px) and (max-height: 1024px) {
.displayProjectDetailContainer .title {
  margin: 50px;
}
.link {
  height: 200px;
}
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .displayProjectDetailContainer {
    height: 160vh;
  }
  .linkSiteWeb {
    height: 50px;
  }
  .title h1 {
    font-size: 1rem;
  }
  .title p {
    margin-bottom: 150px;
  }
  .displayProjectDetailContainer .title p {
    font-size: 0.5rem;
  }
  .descriptionContainer {
    font-size: 0.8rem;
    line-height: 20px;
    min-height: 600px;
  }
  .link {
    height: 250px;
  }
  .imgContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
  }
  .imgContainer img {
    width: 300px;
  }
  .logo {
    width: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .displayProjectDetailContainer {
    height: 120vh;
  }
  .linkSiteWeb {
    font-size: 0.8rem;
  }
  .title h1 {
    font-size: 1rem;
    margin-top: 20px;
  }
  .title p {
    margin-bottom: 150px;
  }
  .displayProjectDetailContainer .title p {
    font-size: 0.5rem;
  }
  .descriptionContainer {
    font-size: 0.8rem;
    line-height: 20px;
    min-height: 600px;
  }
  .link {
    height: 150px;
  }
  .imgContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
  }
  .imgContainer img {
    width: 400px;
    margin-bottom: 20px;
  }
  .logo {
    width: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}
