.footerSection {
  position: relative;
  height: auto;
}
.footer {
  background: var(--primary);
  margin-top: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footerContainer {
  height: 60px;
  color: white;
  text-transform: capitalize;
  display: flex;
  justify-content: space-around;
}
.copyrightContainer {
  display: flex;
  margin: 20px;
  color: black;
  font-weight: 700;
}
.iconCopyright {
  margin: 2px 5px 0 0;
}
.textFooter {
  margin: 20px;
  color: black;
  font-weight: 700;
}
@media screen and (min-width: 1280px) and (max-height: 1024px) {
  .footerSection {
    margin-top: 140px;
  }
}