.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  height: 80vh;
}

.titleEnd {
  display: flex;
}

.name {
  color: var(--primary);
}

.title1 {
  color: var(--primary);
  font-size: 8rem;
  margin: 20px;
}
.title2 {
  color: var(--secondary);
  font-size: 8rem;
  margin: 20px;
}
.socialLinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 150px;
  margin: 0 0 120px 30px;
}
.socialLink {
  color: var(--primary);
  font-size: 40px;
}
@media screen and (min-width: 320px) and (max-width: 599px) {
  .titleContainer {
    margin-top: 10px;
    height: auto;
  }
  .name {
    font-size: 1.2rem;
  }
  .title1 {
    font-size: 2.2rem;
  }
  .title2 {
    font-size: 2.2rem;
  }
  .socialLinkContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transform: translate(-25%);
    width: 25%;
  }
  .socialLink {
    font-size: 25px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .titleContainer {
    margin-top: 10px;
    height: auto;
  }
  .name {
    font-size: 2.5rem;
  }
  .title1 {
    font-size: 4.5rem;
  }
  .title2 {
    font-size: 4.5rem;
  }
  .socialLinkContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transform: translate(-25%);
    width: 25%;
  }
  .socialLink {
    font-size: 40px;
  }
}
