.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  height: 80vh;
}

.titleEnd {
  display: flex;
}

.name {
  color: var(--primary);
}

.title1 {
  color: var(--primary);
  font-size: 8rem;
  margin: 20px;
}
.title2 {
  color: var(--secondary);
  font-size: 8rem;
  margin: 20px;
}
.socialLinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 150px;
  margin: 0 0 120px 30px;
}
.socialLink {
  color: var(--primary);
  font-size: 40px;
}
