.allProjectsContainer {
  min-height: 100vh;
}

.allProjectsContainer h2 {
  color: var(--primary);
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-left: 30px;
  font-weight: 900;
  height: 150px;
  display: flex;
  align-items: center;
}
