.nav {
  color: var(--primary);
  text-transform: uppercase;
  margin: 20px;
  list-style-type: none;
  height: 150px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.link {
  font-weight: 900;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--primary);
}

