:root {
  --primary: #b7ab98;
  --secondary: #eb5939;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: red;
}

body {
  font-family: var(--raleway), sans-serif;
  background: url("./assets/img/backport.webp") no-repeat center/cover fixed;
  height: auto;
}
.cursor {
  width: 20px;
  height: 20px;
  background: var(--secondary);
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: 0.3s;
  z-index: 99;
}
.hoverHead {
  transform: scale(8);
}
@media screen and (min-width: 320px) and (max-width: 1025px) {
  .cursor {
    display: none;
  }
  .hoverHead {
    display: none;
  }
}
