* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--raleway), sans-serif;
  background: url("./assets/img/backport.webp") no-repeat center/cover fixed;
  height: auto;
}
