.formAdminContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
.formAdminContainer h1 {
  color: var(--primary);
  text-transform: uppercase;
  padding: 20px;
}
.formAdmin {
  width: 50%;
  border: 4px solid var(--primary);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.formAdmin label {
  color: var(--primary);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
}
.formAdmin input {
  width: 300px;
  height: 40px;
  text-align: center;
  outline: none;
  border: 3px solid var(--secondary);
}
.formAdmin button {
  background: var(--secondary);
  border: none;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
}
.formAdmin button:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
